[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = \"C:\\Users\\Ornella\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	mail = ornella.nucerito@gmail.com
